/*
|--------------------------------------------------------------------------
| _utility.scss
|--------------------------------------------------------------------------
|
| Utility css classes.
|
*/

.subtitle {
    color: $color5;
}

.small {
    @extend %small;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-centered {
    text-align: center;
}